<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inkadev Admin Template</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">    

    <link href="@Url.Content("~/assets/css/icons/icomoon/styles.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/core.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/components.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/colors.css")" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/loaders/pace.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/core/libraries/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/core/libraries/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/loaders/blockui.min.js")"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/core/app.js")"></script>
    <!-- /theme JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/datatables.min.js"></script>
    


    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/pages/form_validation.js")"></script>
    <!-- /theme JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>

    <!-- /theme JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom/custom.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/forms/selects/select2.min.js")"></script>
    <!-- Theme JS files -->
    <script type="text/javascript" src="@Url.Content("assets/js/plugins/forms/selects/bootstrap_select.min.js" )"></script>

</head>

<body class="navbar-top">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

            <p class="navbar-text"><span class="label bg-success-400">en linea</span></p>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/placeholder.jpg" alt="">
                        <span>Victoria</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-plus"></i> Mi Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-cog5"></i> Configurar Cuenta</a></li>
                        <li><a href="#"><i class="icon-switch2"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Victoria Baker</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-user text-size-small"></i> &nbsp;Administrador
                                    </div>
                                </div>

                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#"><i class="icon-cog3"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">

                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

                                <!-- /main -->
                                <!-- Forms -->
                                <li class="navigation-header"><span>Forms</span> <i class="icon-menu" title="Forms"></i></li>
                                <li>
                                    <a href="#"><i class="icon-footprint"></i> <span>Wizards</span></a>
                                    <ul>
                                        <li><a href="wizard_steps.html">Steps wizard</a></li>
                                        <li><a href="wizard_form.html">Form wizard</a></li>
                                        <li><a href="wizard_stepy.html">Stepy wizard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-select2"></i> <span>Pickers</span></a>
                                    <ul>
                                        <li><a href="picker_date.html">Date &amp; time pickers</a></li>
                                        <li><a href="picker_color.html">Color pickers</a></li>
                                        <li><a href="picker_location.html">Location pickers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-insert-template"></i> <span>Form layouts</span></a>
                                    <ul>
                                        <li><a href="form_layout_vertical.html">Vertical form</a></li>
                                        <li><a href="form_layout_horizontal.html">Horizontal form</a></li>
                                    </ul>
                                </li>
                                <!-- /forms -->
                                <!-- Appearance -->
                                <li class="navigation-header"><span>Reportes</span> <i class="icon-menu" title="Appearance"></i></li>

                                <!-- /appearance -->

                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                @RenderBody()

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
